<!-- <p>applyloan works!</p> -->
<!-- <a routerLink="/app-loanregistration/{{customerId}}">
<img src="assets/loanicon.png" width="100px" height="50px" />

<a routerLink="/app-loanlist/{{customerId}}">
<img src="assets/trackloan.png" width="100px" height="50px" /> -->
<app-header></app-header>

<div class="opacity_block"></div>
    <img src="https://media.istockphoto.com/photos/personal-expenses-concept-financial-analysis-background-picture-id903735920?k=6&m=903735920&s=612x612&w=0&h=3ddQYbDXglDpgywrlYQZ9l0x0xVvgcIwvHYhDonNDmk=" width="100%" height="500px">

    <div class="icons">
    
   <div class="apply_loan">
       <a class="apply " > 
        <img src="https://image.flaticon.com/icons/png/512/1721/1721832.png" width="100"><br>
        <button routerLink="/app-yettoapprove"class="btn btn-primary mt-2">Yet To Approve/<br>Reject List</button>  &nbsp;  &nbsp; &nbsp;  &nbsp;
    </a>
    </div> 
   <!-- <div class=" d-flex flex-column"><a class="track" routerLink="/app-loanregistration/{{customerId}}"> <img src="https://image.flaticon.com/icons/png/128/2747/2747449.png" width="100"><br> Track Loan</a></div>  -->

</div>
<div class="icon1">
    
        <div class="apply_loan"><a class="track" > <img src="https://image.flaticon.com/icons/png/128/2747/2747449.png" width="100"><br></a>
        <button routerLink="/app-approved" class="btn btn-primary mt-2">Approved/<br>Rejected List</button></div> 

 
 </div>


