.slider-captions {
    position: absolute;
    top: 190px;
    right: 100px;
    /* width: 610px; */
    margin: 22px;
    color: white;
  }
  .opacity {
    width: 100%;
    height: 350px;
    background: #19264cb3;
    position: absolute;
    top: 95px;
  }
  ::marker {
    color: #7d289a;
  }
  .color {
    color: #7d289a;
  }
  .btn-secondary {
    color: #fff;
    background-color: #7d289a;
    border-color: #7d289a;
  }
  