<app-header></app-header>
<div class="backimage">
    <img src="http://jituchauhan.com/borrow/borrow/images/slider-3.jpg" width="100%" height = "363" class="backimage">
    <div class="opacity"></div>
    <div class="">
      <div>
        <div class="slider-captions">
          <!-- slider-captions -->
          <h1 class="slider-title">Get Loan for Your Business Growth and Startup </h1>
          <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">We provide an excellent service for all types of
            loans in
            <br> Pune and offer service, advice and direction.
          </p>
          <a routerLink = "/register" class="btn btn-secondary ">Register Now</a>
        </div>
        <!-- /.slider-captions -->
      </div>
    </div>
  </div>
  <div class="about">
    <!-- <h3 class="text-center">About Us</h3> -->
    <div class="row m-3">
  
      <div class="col-md-6">
        <h1>
          Building a Brighter financial Future & Good Support.
        </h1>
        <p class="content1 mt-5">
  
          In finance, a loan is the lending of money by one or more individuals, organizations, or other entities to other
          individuals, organizations etc. The recipient (i.e., the borrower) incurs a debt and is usually liable to pay
          interest on that debt until it is repaid as well as to repay the principal amount borrowed.
  
        </p>
        <p class="content1 mt-5">
          A loan is when money is given to another party in exchange for repayment of the loan principal amount plus
          interest. Loan terms are agreed to by each party before any money is advanced.
        </p>
        <a routerLink = "/register" class="btn btn-secondary mt-3 text-center but">Apply For Loan</a>
      </div>
      <div class="col-md-6">
        <img src="https://preview.colorlib.com/theme/loan/assets/img/gallery/about1.png" >
      </div>
    </div>
  </div>
  <div class="offer m-3 color">
    <h1 class="text-center m-3 p-3">What we offer for you</h1>
  
    <div class="row m-3">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-3 offer">
        <div class="info text-center">
          <img src="https://image.flaticon.com/icons/png/512/1462/1462438.png" width="100px"><br>
          <span>Education Loan</span>
          <h4>Minimum Amount :50,000</h4>
        </div>
        <div class="service_content">
          <ul>
            
            <li> Interest rate - 8% fixed</li>
            <li> Term of Loan - Upto 5-years</li>
          </ul>
          <div class="apply_btn ml-3">
          <a routerLink = "/register">  <button class="boxed-btn3 btn btn-primary a ">Apply Now</button></a>
          </div>
        </div>
  
      </div>
      <div class="col-md-1"></div>
  
      <div class="col-md-3 offer">
        <div class="info text-center">
          <img src="https://www.iconshock.com/image/Brilliant/Accounting/loan" width="100px"><br>
          <span>Home Loan</span>
          <h4>Minimum Amount :2,00,000</h4>
        </div>
        <div class="service_content">
          <ul>
            
            <li> Interest rate - 6% to 8% </li>
            <li> Term of Loan - Upto 5-years</li>
          </ul>
          <div class="apply_btn ml-3">
            <a routerLink = "/register"> <button class="boxed-btn3 btn btn-primary a " type="submit">Apply Now</button></a>
          </div>
        </div>
  
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 offer">
        <div class="info text-center">
          <img src="https://image.flaticon.com/icons/png/128/2660/2660516.png" width="100px"><br>
          <span>Start-Up Loan</span>
          <h3>Minimum Amount :5,00,000</h3>
        </div>
        <div class="service_content">
          <ul>
            <li> Interest rate -9% fixed</li>
            <li> Term of Loan - Upto 5-years</li>
          </ul>
          <div class="apply_btn ml-3">
            <a routerLink = "/register"> <button class="boxed-btn3 btn btn-primary a " type="submit">Apply Now</button></a>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  <div class="How">
    <div class="container m-60">
      <h1 class="text-center color m-60">How it Works</h1>
      <!-- <small class="text-center">We provide online instant cash loans with quick approval that suit your term</small> -->
      <div class="row mt-20">
        <div class="col-md-4">
          <div class="single_works wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
            <span class="rounnd_num">
          01
          </span>
            <h5 class="mt-40 color">Apply for loan</h5>
            <p>We will customize a loan based on the
              amount of cash your company need term</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single_works wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
            <span class="rounnd_num">
          02
          </span>
            <h5 class="mt-40 color">Application review</h5>
            <p>We will customize a loan based on the
              amount of cash your company need term</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single_works wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
            <span class="rounnd_num">
          03
          </span>
            <h5 class="mt-40 color">Get funding fast
            </h5>
            <p>We will customize a loan based on the
              amount of cash your company need term</p>
          </div>
        </div>
      </div>
    </div>
  </div>