<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="header.component.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
</head>
<body>
	<div class="small-navbar d-flex justify-content-between">
		<div class="content">Welcome to Loan Management System</div>
		<div class="d-flex">
		  <div class="email_address"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;loan@loan.com</div>
		  <div class="phone_number"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;+91 98490876543</div>
		</div>
	</div>
    <div *ngIf="user; then thenBlock; else elseBlock;">
        
        
    </div>
    <ng-template #thenBlock>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Loan Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home/{{eid}}" routerLinkActive="activate">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about/{{eid}}" routerLinkActive="activate">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/app-applyloan/{{eid}}" routerLinkActive="activate">Apply Loan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/app-loanlist/{{eid}}" routerLinkActive="activate">Track Loan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/app-profileedit/{{eid}}" routerLinkActive="activate">Edit Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="activate">LogOut</a>
            </li>
           
          </ul>
      
        </div>
    </nav>
    </ng-template>
    <ng-template #elseBlock>
      <div *ngIf = "manager; then thenblock; else elseblock" ></div>
      <ng-template #thenblock>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Loan Management System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="activate">Logout</a>
              </li>
             
            </ul>
        
          </div>
      </nav>
      </ng-template>
      <ng-template #elseblock>

     
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Loan Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home" routerLinkActive="activate">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="activate">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="activate">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register" routerLinkActive="activate">Register</a>
            </li>
           
          </ul>
      
        </div>
    </nav>
  </ng-template>
    </ng-template>
    
	