
<app-header></app-header>
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title> 
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://icon-library.com/images/reset-password-icon/reset-password-icon-29.jpg" alt=""/>
                        <h3>Forgot Your Password?</h3>
                        <small>To reset your password, please enter your Website.com username.
                            Website.com will send the password reset instructions to the email address for this account.</small>
                        
                    </div>
                    <div class="col-md-9 register-right">
                      
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Reset Your Password</h3>
                                <div class="row register-form">
                                    <div class="col-md-8">
                                      
										<div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-address-card"></i> </span>
                                             </div>
                                            <input name="" class="form-control" placeholder="Enter your Aadhar number" type="text" [(ngModel)]="customerDetails.aadharNumber"  >
                                        </div>
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fas fa-lock"></i> </span>
                                             </div>
                                            <input name=""  type="password" class="form-control" placeholder="Enter New  Password" [(ngModel)]="password" >
                                        </div>
                                        
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fas fa-lock"></i> </span>
                                             </div>
                                            <input name="" type="password" class="form-control" placeholder="Confirm Password"  [(ngModel)]="cpassword" >
                                        </div>
                                       
                                   
                                   
										<a  class="btn btn-primary" (click)="changePassword()" role="button">Change Password</a>&nbsp; &nbsp; &nbsp; &nbsp; 
                                        <!-- <a (click)="login()" class="btn btn-primary" role="button">Login</a> -->
                                        

                                        <br/>
                                        <br/>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
			<router-outlet></router-outlet>
		</body>
</html>


