<!-- <p>applyloan works!</p> -->
<!-- <a routerLink="/app-loanregistration/{{customerId}}">
<img src="assets/loanicon.png" width="100px" height="50px" />

<a routerLink="/app-loanlist/{{customerId}}">
<img src="assets/trackloan.png" width="100px" height="50px" /> -->
<app-header></app-header>

<div class="opacity_block"></div>
    <img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1546965653000/photosp/254446de-1d75-4792-82c9-9463a2ec40f0/stock-photo-connection-shaking-insurance-estate-property-congratulation-handshake-loan-contract-254446de-1d75-4792-82c9-9463a2ec40f0.jpg" width="100%" height="500px">

    <div class="icons">
    
        <div class="apply_loan">
            <a class="apply " routerLink="/app-loanregistration/{{customerId}}"> 
                <img src="https://image.flaticon.com/icons/png/512/306/306187.png" width="100"><br>
                <button class="btn btn-primary mt-2">Apply Loan</button>    
                </a>
        </div> 
    </div>
    <div class="icon1">
         <a class="track" routerLink="/app-loanlist/{{customerId}}">
             <img src="https://image.flaticon.com/icons/png/128/2747/2747449.png" width="100"><br>
            <button class="btn btn-primary mt-2">Track Loan</button>
        </a>
    </div>
    <div class="icon2">
        <a class="track" routerLink="/app-profileedit/{{customerId}}">
            <img src="https://img.icons8.com/color/452/edit-user-female.png" width="100"><br>
           <button class="btn btn-primary mt-2">Edit Profile</button>
        </a>
   </div>


