

<!-- <app-header></app-header> -->
<router-outlet></router-outlet>

<div class="footer d-flex justify-content-around">
	<div class="footer Content">
	  <iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.355752582858!2d73.92308841398352!3d18.51281907424506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c18d4b594d2d%3A0xdce81805140db5c0!2sMphasis!5e0!3m2!1sen!2sin!4v1621333320814!5m2!1sen!2sin"
		width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
	<div class="6">
  
	  <h3 class="text-white m-3">Loan Management System</h3>
	  <div class="useful_links">
		<h5 class=" text-white m-3 text-decoration-underline">Quick Links</h5>
		<ul class="nav-items">
		  <li><a routerLink = "/about" class="footer_link">About Us</a></li>
		  
		  <li><a routerLink = "/login" class="footer_link">Login</a></li>
		  <li><a routerLink = "/register" class="footer_link">Register</a></li>
		</ul>
	  </div>
	</div>
  </div>



